.contact-section{
    padding: 215px 0 80px;
    overflow: hidden;
    @media (max-width:991px) {
        padding: 130px 0 50px;        
    }
    h2{
        text-align: center;
        margin: 0;
        font-size: 26px;
        color: rgb(182, 42, 131);
        font-family: "ITC-MEDIUM";
        margin-bottom: 80px;
        @media (max-width:991px) {
            margin-bottom: 30px;
        }
        @media (max-width:320px) {
            font-size: 24px;
        }
    
    }
    form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        div{
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        label{
            color: #3f3f3f;
            font-size: 16px;
            font-family: "ITC-MEDIUM";
            padding: 25px 25px 14px 0;
            margin: 0;
            span{
                color: #f00;
            }
        }
        input{
            height: 64px;
            width: 100%;
            border: 2px solid  rgb(237, 237, 237);
            border-radius: 100px;
            padding:  30px; 
            outline: none;
            background-color: #fff;     
            &:focus{
                border-color: #b62a83;
                animation: point 1s alternate;
            }
            transition: .5s;
       
        }
        textarea{
            width: 100%;
            border: 2px solid  rgb(237, 237, 237);
            background-color: #fff;
            border-radius: 30px;
            outline: none;
            height: 154px;
            padding: 30px; 
            transition: .5s;
            &:focus{
                border-color: #b62a83;
                animation: point 1s alternate;
            }
        }
        button{
            margin-right: auto;
            width: 164px;
            height: 47px;
            background-color: rgb(182, 42, 131);
            border-radius: 100px;
            font-size: 16px;
            color: rgb(255, 255, 255);
            font-family: "ITC-MEDIUM";
            margin-right: auto;
            border: none;
            border: 2px solid rgb(182, 42, 131);
            transition: .5s;
            outline: none;
            margin-top: 15px;
            @media (max-width:991px) {
                margin: 20px auto;
            }
        
    
            &:hover{
                animation: point 1s alternate;
                color:rgb(182, 42, 131);
                background-color: #fff;
            }
            &:active{
                animation: point 1s alternate-reverse;
                background-color: rgb(182, 42, 131);
                color: rgb(255, 255, 255);
              }
          
        }
    }
    .content{
        display: flex;
        flex-direction: column;
        margin-top: 84px;
        @media (max-width:991px) {
            margin-top: 40px;
        }

        .info{
            display: flex;
            i{
                font-size: 18px;
                color: rgb(182, 42, 131);
                margin-left: 16px;
            }
            margin-bottom: 18px;                  
            p{
                margin: 0;
                font-size: 16px;
                color: rgb(63, 63, 63);
                @media (max-width:320px) {
                    font-size: 15px;
                }
        
                span{
                    text-decoration: underline;
                }
                .bar{
                    display: block;
                    text-decoration: none;
                }
            }
        }
    }
}

