.main-header{
    background-color: #71236a;
    height: 110vh;
    padding-top: 160px;
    position: relative;
    overflow: hidden;
    z-index: 3;
    @media (min-width:1750px) {
        height: 100vh;
        padding-top: 190px;

    }
    @media (max-width:991px ) {
        padding-top: 120px;
        height: 120vh;

    }
    @media (max-width:480px ) {
        height: 110vh;

    }
    @media (max-width:375px ) {
        height: 100vh;

    }

    .patrn{
        position: absolute;
        right: -17%;
        bottom: -44%;
        z-index: -1;
        @media (min-width:1750px) {
            bottom: -38%;
            right: -15%;
            width: 100%;
        }
    
        @media (max-width:991px) {
            display: none;
        }
    }
    .scroll-header{
        position: absolute;
        bottom: 80px;
        left: 50%;
        transform: translateX(-50%);
        height: 50px;
        width: 24px;
        background: none;
        border: 1px solid #fff;
        border-radius: 15px;
        @media (max-width:991px) {
            display: none;
        }
        @media (min-width:1750px) {
            bottom: 165px;
        }
        & > span{
            position: absolute;
            top: 12px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #fff;
            height: 10px;
            width: 2px;
            animation: mouseMove 1.5s infinite alternate;
            box-shadow: 0 0 0px #fff;
        
        }
    }
    &::before{
        content: '';
        position: absolute;
        right: 0;
        bottom: -.5px;
        width: 100%;
        height: 100px;
        background-color: #fff;
        clip-path: polygon(0 0, 0 100%, 100% 100%);
        z-index: 2;
        @media (min-width:1750px) {
            bottom: -1.9px;
        }

        @media (max-width:991px) {
            height: 50px;
            bottom: -.9px;
        }
    }
    .vidue{
        height: 100%;
        width: 100;
        display: flex;
        justify-content: center;
        align-items: center;    
    }
    .content{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width:991px) {
            text-align: center;
        }    
        h1{
            font-size: 36px;
            color: rgb(255, 255, 255);
            width: 100%;
            margin: 0;
            
            @media (max-width:991px ) {
                margin-bottom: 30px;
            }
            @media (max-width:480px ) {
                font-size: 30px;
            }
            @media (max-width:375px ) {
                font-size: 28px;
            }
            @media (max-width:360px ) {
                font-size: 23px;
            }

            span{
                display: block;
                text-align: right;
                width: max-content;
                @media (max-width:991px ) {
                    margin: auto;
                }
                &:last-of-type{
                    font-size: 26px;
                    font-family: "OpenSans";
                    margin-top: 18px;
                    @media (max-width:480px ) {
                        font-size: 20px;
                    }
                    @media (max-width:375px ) {
                        font-size: 18px;
                    }
                    @media (max-width:360px ) {
                        font-size: 16px;
                    }
        
                }
            }
        }
    }
}
@keyframes mouseMove {
    0%{
        transform: translateX(-50%) translateY(-4px) scaleY(.3);
        transform-origin: top;
    }
    100%{
        transform: translateX(-50%) translateY(18px) scaleY(1);
        transform-origin: bottom;
    }
}