.footer{
    overflow: hidden;
    @media (max-width:991px) {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .logo{
        @media (max-width:991px) {
            margin-bottom: 30px;
            margin-left: 20px;
        }
    }
    .footer-links-con{
        display: flex;
        padding-bottom: 50px;
        @media (max-width:991px) {
            padding-bottom: 40px;
            flex-direction: column;
        }

        .footer-navlink{
            width: 100%;
            margin: 0;
            margin-top: 30px;
            @media (max-width:991px) {
                padding-inline-start: 0px;
            }
            @media (max-width:991px) {
                margin-top: 7px;
            }
            li{
                width: 100%;
                &:not(:last-of-type){
                    margin-bottom: 7px;
                }
                a{
                    font-size: 15px;
                    color: rgb(125, 125, 125);
                    font-family: "ITC-MEDIUM";
                    text-decoration: none;      
                    transition: .5s;
                    &.active{
                        color:#b62a83;
                        animation: unset !important;
                    }
                }
                &:hover{
                    a{
                        color: #b62a83;
                        animation: linkFooter .5s linear;
                    }
    
                }
    
            }
        }
    }
    .footer-icons{
        display: flex;
        margin: 0;
        margin-top: 30px;
        @media (max-width:991px) {
            justify-content: center;
            align-items: center;
            margin-top: 0;
            margin-bottom: 30px;

        }
        @media (max-width:991px) {
            padding-inline-start: 0px;
        }

        li:not(:first-of-type){
            margin-right: 4px;
        }
        li{
            a{
                text-decoration: none;
            }
            .icon{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 50px;
                color: #FFF;
                transition: .5s;
                font-size: 16px;
                background-color: #000;
                position: relative;
            }
            .instagram{
                background: radial-gradient(circle farthest-corner at 35% 100%,#fec564,transparent 50%),radial-gradient(circle farthest-corner at 10% 140%,#feda7e,transparent 50%),radial-gradient(ellipse farthest-corner at 0 -25%,#5258cf,transparent 50%),radial-gradient(ellipse farthest-corner at 20% -50%,#5258cf,transparent 50%),radial-gradient(ellipse farthest-corner at 100% 0,#893dc2,transparent 50%),radial-gradient(ellipse farthest-corner at 60% -20%,#893dc2,transparent 50%),radial-gradient(ellipse farthest-corner at 100% 100%,#d9317a,transparent),linear-gradient(#6559ca,#bc318f 30%,#e42e66 50%,#fa5332 70%,#ffdc80 100%);
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background: radial-gradient(circle farthest-corner at 35% 100%,#fec564,transparent 50%),radial-gradient(circle farthest-corner at 10% 140%,#feda7e,transparent 50%),radial-gradient(ellipse farthest-corner at 0 -25%,#5258cf,transparent 50%),radial-gradient(ellipse farthest-corner at 20% -50%,#5258cf,transparent 50%),radial-gradient(ellipse farthest-corner at 100% 0,#893dc2,transparent 50%),radial-gradient(ellipse farthest-corner at 60% -20%,#893dc2,transparent 50%),radial-gradient(ellipse farthest-corner at 100% 100%,#d9317a,transparent),linear-gradient(#6559ca,#bc318f 30%,#e42e66 50%,#fa5332 70%,#ffdc80 100%);
                    transform: scale(0);
                    transition: .5s;
                    z-index: -1;
                }
            }
            .youtube{
                background-color: #ce201f;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background-color: #ce201f;
                    transform: scale(0);
                    transition: .5s;
                    z-index: -1;
                }

            }
            .twitter{
                background-color: #2aa9e0;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background-color: #2aa9e0;
                    transform: scale(0);
                    transition: .7s;
                    z-index: -1;
                }

            }
            .facebook{
                background-color: #3b559f;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background-color: #3b559f;
                    transform: scale(0);
                    transition: .7s;
                    z-index: -1;
                }

            }
            &:hover{
                .instagram{
                    &::before{
                        transform: scale(1.5);
                        opacity: 0;
                    }
                }
                .youtube{
                    &::before{
                        transform: scale(1.5);
                        opacity: 0;
                    }

                }
                .twitter{
                    &::before{
                        transform: scale(1.5);
                        opacity: 0;
                    }

                }
                .facebook{
                    &::before{
                        transform: scale(1.5);
                        opacity: 0;
                    }

                }
    
            }
        }        
    }
    .footer-copy{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6px 0 15px;
        border-top:1px solid rgb(237, 237, 237);
        @media (max-width:991px) {
            flex-direction: column;
            padding: 20px 0 ;

        }
        p{
            font-size: 13px;
            color: rgb(125, 125, 125);
            margin: 0;
            @media (max-width:991px) {
                margin-bottom: 10px;
    
            }
    
        }
    }
}
@keyframes linkFooter {
    0%{
        text-shadow: 0 0 rgb(125, 125, 125);
    }
    100%{
        text-shadow: 0 0 30px transparent;
    }
}
